# Files and folders to ignore in commits
__pycache__/

.DS_Store

env/

.env

config.py

crop_classification/time_series_analyses/ndvi_series
crop_classification/time_series_analyses/ndvi_series.log

cloud_masked_composites/__pycache__
cloud_masked_composites/.ipynb_checkpoints
cloud_masked_composites/demo
cloud_masked_composites/imagery/*
!cloud_masked_composites/imagery/priority_distributors.png
cloud_masked_composites/sentinelhub/images
cloud_masked_composites/sentinelhub/logs

data/

geocoding/__pycache__
geocoding/*.csv
geocoding/*.json
geocoding/*.xlsx

tiled_images/

sales_leads_data_analysis

samgeo_aws_ec2/vectors
samgeo_aws_ec2/comparisons

initial_priority_distributor_polygons.qgz

samgeo_outputs
copernicus_hub_python_api.ipynb

log.txt
Dockerfile
service_key_gcp.json